.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.catOneText {
  width: 60vw;
}

.sectionheader {
  font-size: 1.25em;
}

.copy span {
  text-align: right;
}
.sectionheader ~ * {
  width: 50%;
}
