@import "./navegation";
@import "./catSections";
@import "./footer";

html {
  background-color: aliceblue;
}

body {
  margin: 0px;
  padding: 0px;
}

.bodycontainer {
  margin: 10vh;
  background: #ffff;
  border-radius: 15px;
  padding: 10px;
}

a {
  color: #fff;
}

div > #image {
  margin: 0 0 0 calc(50% - 200px);
}

body {
  font-family: "Nunito", sans-serif;
  position: relative;
}

.catsImagDiv img {
  width: 40vw;
}
